<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h3 class="section-subheading text-muted">I’m Sarvesh Sharma, a senior back-end web developer and
                    software architect based in The Netherlands.

                    I've been building stuff in IT for the last 13 years, working with clients across various countries
                    primarily in banking and finance industries.

                    My focus is on creating engaging, accessible & performant pieces of software for humans.</h3>
            </div>
            <div class="col-lg-12">
                <img alt="" class="img-circle img-responsive" src="img/about/1.jpg">
            </div>
        </div>
    </div>
</section>